commands.txt
.git/
.gitignore
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.env
*.env.*
.air.toml
docs/
test/
debug/
tmp/
temp/
Dockerfile*
docker-compose*.yml
bin/
dist/
build/
logs/
.cache
*.md
**/*.class
*.iso
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
/go.work